* {
  padding: 0px;
  margin: 0px;
}


.area-item-catalogo{
  background: #faf7f4;
  background-color: #f7dfc1;
}

.img-catalogo{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

